@charset "UTF-8";
.tam-xs {
  font-size: 20px;
}
.tam-sm {
  font-size: 25px;
}
.tam-md {
  font-size: 30px;
}
.tam-xl {
  font-size: 50px;
}
.redsoc-insta {
  color: rgb(248, 3, 126);
}
.redsoc-face {
  color: rgb(10, 10, 151);
}
.redsoc-twit {
  color: rgb(0, 0, 0);
}
.redsoc-whats {
  color: rgb(7, 241, 66);
}
@-webkit-keyframes flip-scale-2-hor-top {
  0% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  50% {
    -webkit-transform: translateY(-50%) rotateX(-90deg) scale(2);
    transform: translateY(-50%) rotateX(-90deg) scale(2);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: translateY(-100%) rotateX(-180deg) scale(1);
    transform: translateY(-100%) rotateX(-180deg) scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
}
@-webkit-keyframes rotate-scale-up-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
    transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(2) rotateX(-180deg);
    transform: scale(2) rotateX(-180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-360deg);
    transform: scale(1) rotateX(-360deg);
  }
}
@keyframes rotate-scale-up-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
    transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(2) rotateX(-180deg);
    transform: scale(2) rotateX(-180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-360deg);
    transform: scale(1) rotateX(-360deg);
  }
}
* {
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
.navprincipal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff5100;
  font-weight: 500;
  width: 100%;
}
.navprincipal img {
  width: 80px;
  height: 80px;
  margin: 10px;
}
.navprincipal nav {
  display: flex;
  width: 100%;
  align-items: center;
}
.navprincipal .menu-ul {
  width: 100%;
  display: flex;
  justify-content: center;
}
.navprincipal .menu-ul li {
  list-style: none;
  margin: 20px;
}
.navprincipal .menu-ul li a {
  text-decoration: none;
  margin-right: 30px;
}
.principal, .principal2, .color-fondo {
  row-gap: 10px;
  flex-direction: column;
  align-items: end;
  background-color: rgb(205, 248, 234);
}
.titulo1, .titulo2 {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  color: #000000;
}
.titulo2 {
  align-self: baseline;
  font-size: 30px;
}
.color-boton {
  width: 60%;
  height: 50px;
  padding: 10px;
  margin: 20px;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #ff5100;
  border-color: #ff5100;
}
.tama1 {
  width: 60px;
  height: 60px;
}
.tama2 {
  width: 250px;
  height: 300px;
  align-items: center;
}
.tama2:hover {
  transform: scale(1.1);
}
.tama3 {
  width: 650px;
  height: 350px;
  align-items: center;
  margin: 20px;
}
.tama4 {
  font-size: 15px;
}
.descri1 {
  color: #330470;
}
.parrafo1 {
  font-size: 40px;
  text-align: center;
}
.parrafo2 {
  font-size: 25px;
  text-align: center;
}
.descri2 {
  color: #1172f0;
}
.descri3 {
  color: darkgreen;
}
.descri4 {
  color: chocolate;
}
.frase, .lema {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.frase {
  color: #330470;
  background-color: aquamarine;
  border: 3px solid aquamarine;
}
.lema {
  font-size: 30px;
  font-style: italic;
  color: #ff5100;
  background-color: #edeec9;
}
.video {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 250px;
}
h2 {
  align-items: center;
}
.fundacion, .innovacion, .informe {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
  border-color: #000000;
  border-style: solid;
}
.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  text-align: center;
  background-color: rgb(205, 248, 234);
}
.contacto h1 {
  margin-bottom: 40px;
  text-decoration: underline;
}
.contacto .form-container {
  width: 100%;
  max-width: 600px;
}
.contacto .form-container .form-group {
  margin: 20px;
}
.contacto .form-container .form-group label {
  text-align: left;
  display: block;
}
.lema2 {
  font-size: 30px;
  font-style: italic;
  color: #ff5100;
  margin-top: 50px;
}
.btn-link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;
}
.btn-link:after {
  content: "▼";
  font-size: 1rem;
  margin-left: 10px;
  color: #000000;
}
.collapsed.btn-link:after {
  content: "▶";
}
.rotate-scale-up-hor {
  -webkit-animation: rotate-scale-up-hor 0.65s linear both;
  animation: rotate-scale-up-hor 0.65s linear both;
}
.footerbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff5100;
  font-weight: 500;
  width: 100%;
  justify-content: space-between;
}
.footerbar-img {
  width: 80px;
  height: 80px;
  margin: 10px;
  justify-content: start;
  align-items: center;
}
.footerbar .footer-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
}
.footerbar .footer-1 p, .footerbar .footer-1 a {
  margin: 10px;
}
.footerbar .footer-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-end;
}
.footerbar .footer-2 p {
  margin: 10px;
}
.footerbar .footer-2 a {
  margin: 20px;
}
@media (max-width: 768px) {
  .video {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 480px) {
  .video {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "primero segundo" "tercero cuarto" "quinto quinto" "sexto septimo";
  }
  .video {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas: "primero" "segundo" "tercero" "cuarto" "quinto" "sexto" "septimo";
  }
  .video {
    width: 100%;
    height: auto;
  }
}

/*# sourceMappingURL=main.css.map */
